@page
@model BookListRazor.Pages.Book.IndexModel
@{
    ViewData["Title"] = "Index";
}


<div class="container row">
    <div class="col-6">
        <h2 class="text-info">Book list</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-page="Create" class="btn btn-primary">Create New Book</a>
    </div>
</div>