@model  Category
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="border backgroundWhite">
        <h2>Details</h2>
        <p>@Model.Id</p>
        <p>@Model.Name</p>
    </div>

