@model int

    <div class="row">
        <div class="col-6">
            <a class="btn btn-info form-control" asp-route-id="@Model" asp-action="Edit">Edit</a>
        </div>
        <div class="col-6">
            <a asp-action="Index" class="btn btn-success form-control">Back</a>
        </div>
    </div>